.App {
  display: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: "20px";
  background-color: "#f0f0f0";
}

.flex-todos {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: auto; 
}

.removed-todos {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: auto; 
}

.list {
display: flex;
justify-content: center;
}
